body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* Mobile frame */
.mobile-container {
    width: 390px;
    height: 100vh;
    background: url("db05d446578950db4fbe64738355a323.jpg")
        center/cover no-repeat;
    position: relative;
    overflow: hidden;
}

/* Overlay */
.overlay {
    height: 100%;
    padding: 20px 25px;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Title */
h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.subtitle {
    margin-bottom: 20px;
    color: #444;
}

/* Input */
input {
    padding: 14px;
    border-radius: 12px;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Info text */
.info {
    font-size: 13px;
    color: #444;
    margin-bottom: 15px;
}

/* Email option */
.email-option {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: auto;
}

/* Continue button */
.continue-btn {
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.continue-btn:hover {
    background: #e74c3c;
}

/* Divider */
.divider {
    text-align: center;
    margin: 15px 0;
}

/* Social icons */
.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

/* Signup */
.signup {
    text-align: center;
    margin-top: 15px;
}

.signup a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

